# Data Analysis of imdb movie dataset using Python

In [82]:
# Importing the required libraries
import pandas as pd
import numpy as np
import os

In [68]:
#Change directory
os.chdir("F://Snigdha//PythonDataAnalysis//DataAnalysis2_govData//imdbDataset")

# Data Fetching

In [69]:
#Reading file from CSV
title_basic = pd.read_csv("title.basics.tsv", sep = '\t',low_memory=False)
title_akas = pd.read_csv("title.akas.tsv", sep = '\t',low_memory=False)
title_crew = pd.read_csv("title.crew.tsv", sep = '\t',low_memory=False)
name_basics = pd.read_csv("name.basics.tsv", sep = '\t',low_memory=False)
title_ratings = pd.read_csv("title.ratings.tsv", sep = '\t',low_memory=False)

In [70]:
title_basic.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

# Data Preparation

In [71]:
#Filtering title_akas with only Indian movies
title_akas_IN = title_akas[title_akas.region == 'IN']

#Filtering title_basic for movies made from 2010 to 2017
title_basic_2011To2018 = title_basic[title_basic.startYear.isin(['2011','2012','2013','2014','2015','2016','2017','2018'])]
movie_basic_2011To2018 = title_basic_2011To2018[title_basic_2011To2018.titleType == 'movie']

In [72]:
#Renaming tconst of title_basic_2011To2018, title_crew,title_ratings to titleid
pd.options.mode.chained_assignment = None
movie_basic_2011To2018.rename(columns = {'tconst':'titleId'},inplace = True)
title_crew.rename(columns = {'tconst':'titleId'},inplace = True)
title_ratings.rename(columns = {'tconst':'titleId'},inplace = True)

In [73]:
#Joining title_basic_2011To2018 and title_akas_IN
title_akas_basic = pd.merge(title_akas_IN,movie_basic_2011To2018, on = 'titleId', how = 'inner')

In [74]:
title_akas_basic.head(5)
#Selecting on the required columns
title_akas_basic_temp = title_akas_basic[['titleId','primaryTitle','language','startYear','runtimeMinutes','genres']]
title_akas_basic_final = title_akas_basic_temp.drop_duplicates()

In [66]:
#title_akas_basic_final.to_csv('title_akas_basic_final.csv', sep=',')

In [75]:
#Joining title_akas_basic_final and title_crew
title_akas_basic_crew_temp = pd.merge(title_akas_basic_final,title_crew, on = 'titleId', how = 'left')
title_akas_basic_crew = title_akas_basic_crew_temp.drop_duplicates()

name_basics.rename(columns = {'nconst':'directors'},inplace = True)
#Joining title_akas_basic_crew and name_basics
title_akas_basic_crew_name_temp = pd.merge(title_akas_basic_crew,name_basics, on = 'directors', how = 'left')
title_akas_basic_crew_name = title_akas_basic_crew_name_temp.drop_duplicates()

In [78]:
#title_akas_basic_crew_name.head(5)
title_akas_basic_crew_name_temp1 = title_akas_basic_crew_name[['titleId','primaryTitle','language','startYear','runtimeMinutes','genres','primaryName']]

In [79]:
#Joining title_akas_basic_crew and name_basics
title_akas_basic_crew_name_ratings_temp = pd.merge(title_akas_basic_crew_name_temp1,title_ratings, on = 'titleId', how = 'inner')
title_akas_basic_crew_name_ratings = title_akas_basic_crew_name_ratings_temp.drop_duplicates()

In [81]:
title_akas_basic_crew_name_ratings.to_csv('title_akas_basic_crew_name_ratings.csv', sep=',')

In [83]:
#Final dataset - title_akas_basic_crew_name_ratings
title_akas_basic_crew_name_ratings.head(5)

,titleId,primaryTitle,language,startYear,runtimeMinutes,genres,primaryName,averageRating,numVotes
0,tt0253093,Gangavataran,en,2018,134,\N,NaN,7.7,6
1,tt0315642,Wazir,\N,2016,103,"Action,Crime,Drama",Bejoy Nambiar,7.1,15148
2,tt0315642,Wazir,en,2016,103,"Action,Crime,Drama",Bejoy Nambiar,7.1,15148
3,tt0328810,My Land,\N,2018,102,"Drama,Family",Mrinal Sen,8.0,55
4,tt0364201,Aman Ke Farishtey,\N,2016,137,Action,Kader Kashmiri,6.8,15